<h1>Edit Task</h1>

<%= render "form", list: @list %>

<br>

<div>
  <%= link_to "Show Task", @list, class: "btn btn-outline-primary"%> 
  <%= link_to "Back to Task list", lists_path, class: "btn btn-outline-primary" %>
</div>
