<p style="color: green"><%= notice %></p>

<h1>My To Do List</h1>

<div id="lists">
  <% @lists.each do |list| %>

    <%= render list %>
    <p>
      <%= link_to "Show this list", list, class: "btn btn-outline-primary"%>
    </p>
  <% end %>
</div>

<%= link_to "Add ToDo", new_list_path, class: "btn btn-primary btn-lg"  %>
